---
---

<html>
  <head>
    <meta charset="utf-8">
    <title>Faris | madebyais.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html, body {
        background: #0A0D14 !important;
        color: #FFFFFF;
      }

      .container-1000 {
        max-width: 1000px !important
      }
    </style>
  </head>
  <body>
    <div class="container-1000 mx-auto flex justify-center md:justify-end items-center p-5 space-x-5 text-sm md:px-0">
      <a href="https://linkedin.com/in/farisf/" target="_blank" rel="noreferrer">LinkedIn</a>
      <a href="https://github.com/madebyais" target="_blank" rel="noreferrer">Github</a>
      <a href="https://twitter.com/madebyais" target="_blank" rel="noreferrer">Twitter</a>
      <a href="mailto:faris@monolog.id" target="_blank" rel="noreferrer">Contact</a>
    </div>

    <main>
      <slot />
    </main>
  </body>
</html>